body {
    margin: 0;
    padding: 0;
}

.container {
    width:80%;
    margin: 0 auto;
}

.form {
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
}

.field {
    width: 100%;
    margin: 5px;
    display: flex;
}

.label, .input {
    display: flex;
    padding: 5px;
}

.label {
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 17px;
    font-weight: bold;
}

.input {
    flex-direction: column;
    flex: 3;
}

.input input,
.input textarea {
    font-size: 17px;
    width: 80%;
}

.input input {
    display: inline-block;
    padding: 3px 5px;
    line-height:140%;
}

#submitBtn {
    width: 20vh;
    height: 4vh;
    border-radius: 5px;
    font-size: 15px;
}

.error {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: red;
}