body {
  background-image: url("./images/background.png");
  font-family: Verdana, Tahoma;
  font-size: 8pt;
  margin: 0;
}

#banner {
  width: 100%;
}

#title {
  text-align: center;
  font-size: 24pt;
  font-family: Tahoma, Verdana;
  text-shadow: 3px 3px #999999;
}

#content {
  width: 800px;
  margin: 0 auto;
  border: 4px solid gray;
  border-radius: 20px;
}

#generalOverview {
  float: right;
  width: 250px;
  background-color: #a2b964;
  padding: 0px;
  font-family: Arial;
  font-size: 8pt;
  margin: 0;
}
#overviewText {
  margin: 0 5px;
}

#overviewText dt {
  margin-top: 10pt;
  font-weight: bold;
}

#overviewText ul {
  list-style-type: none;
  padding-left: 0px;
}

#ratingReview {
  width: 550px;
}

#rating {
  height: 83px;
  background-image: url("./images/rbg.png");
  font-size: 48pt;
  font-weight: bold;
  color: red;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.column1,
.column2 {
  width: 47%;
  height: 100%;
}

.reviewBox {
  min-height: 40px;
  padding: 10pt;
  margin: 10pt;
  font-size: 8pt;
  font-weight: bold;
  background-color: #e8dc9b;
  border: 2px solid gray;
  border-radius: 10px;
}

.reviewer {
  padding: 10pt;
  margin: 10pt;
  margin-bottom: 5px;
}

.reviewBox img,
.reviewer img {
  float: left;
  margin: 5px;
}

#total {
  background-color: #a2b964;
  text-align: center;
  padding: 5px;
}
