body {
  background-image: url("./images/background.png");
  font-family: Verdana, Tahoma;
  font-size: 8pt;
  margin: 0;
}


#banner {
  width: 100%;
}


#title {
  text-align: center;
  font-size: 24pt;
  font-family: Tahoma, Verdana;
  text-shadow: 3px 3px #999999;
}

#content {
  width: 800px;
  margin: 5px auto;
  border: 4px solid gray;
  border-radius: 20px;
  padding: 0px;
  overflow: hidden;
}

#generalOverview {
  float: right;
  width: 250px;
  background-color: #a2b964;
  padding: 0px;
  font-family: Arial;
  font-size: 8pt;
  margin: 0px;
}

#generalOverview img {
  width: 100%;
}

#overviewText {
  margin: 0 5px;
}

#overviewText dt {
  margin-top: 10pt;
  font-weight: bold;
}

#overviewText ul {
  list-style-type: none;
  padding-left: 0px;
}

#rating {
  height: 83px;
  background-image: url("./images/rbg.png");
  font-size: 48pt;
  font-weight: bold;
  color: red;
}

#rating span {
  vertical-align: top;
}

#review {
  width: 550px;
  height: 880px;
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.column {
  width: 47%;
  min-height: 40px;
  margin-right: 5px ;
  margin-left: 9px ;
  margin-bottom: 20px;
}

.reviewBox {
  min-height: 40px;
  padding: 3pt;
  margin: 0 10pt;
  font-size: 8pt;
  font-weight: bold;
  background-color: #e8dc9b;
  border: 2px solid gray;
  border-radius: 10px;
}

.reviewBox p {
    margin: 0;
}

.reviewer {
  padding: 10pt;
  margin-top: 0;
  margin-bottom: 5px;
}

.reviewBox img,
.reviewer img {
  float: left;
  margin: 5px;
}

#total {
  background-color: #a2b964;
  text-align: center;
  padding: 5px;
}

