* {
    margin: 0;
    padding: 0;
}

body {
    background: lightgoldenrodyellow;
}

.setting {
    width: 50%;
    height: 20%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.setting h2,
.setting select {
    margin: 0 8px;
}

.setting select {
    width: 20%;
    font-size: 20px;
}

.container {
    width: 600px;
    height: 400px;
    margin: 80px auto;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 10px inset;
    background: darkblue;
}

.input {
    height: 80px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    border: 2px solid white;
}

.input input {
    width: 90%;
    height: 90%;
    margin: 0 2px;
    font-size: 30px;
    font-family: 'Courier New';
    font-weight: bold;
    border: 2px solid white;
    color: rgb(255, 255, 128);
    background: lightgreen;
}

.buttons {
    flex-grow: 1;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid white;
}

.buttons .yellow button {
    background: yellow;
}

.buttons .blue button {
    background: skyblue;
}

.redBtn, #clearBtn, #submitBtn {
    color: red !important;
}

.blueBtn {
    color: blue !important;
}

.row {
    width: 100%;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    width: 90%;
    height: 90%;
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: black;
    background-color: gray;
}

.button button:focus {
    outline: none;
}

.button button:active {
    transform: translateY(4px);
}
