body {
  color: #454545;
  font-family: Georgia;
  margin-left: 20px;
}

footer {
  margin: 0;
}

.topHeader {
  font-variant: small-caps;
}

.secondHeader {
  text-align: left;
  color: black;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 900;
  border-top: 1px solid lightblue;
}
